/*-------------RESET-----------*/
* {
    margin: 0;
    padding: 0;
}
/*------------------------------*/
html {
    font-size: 16px;
}

body {
   margin-left: 3rem;
   margin-right: 3rem; 
   margin-bottom: 3rem;
}

header {
    text-align: center;
    background-image: url(../images/feature.jpg);
}

nav {
    text-align: right;
}

ul {
    list-style-type: none;
}

ul, li, a {
    text-decoration: none;
}

li {
    display: inline-block;
}

p {
    margin-top: 2rem;
}

figure {
    position: relative;
    text-align: center;
}