header {
    height: 100vh; /*adapte le header à la taille de la photo*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

nav {
    margin-right: 9rem;
    float: right;
}


li {
    margin-right: 2rem;
}

figure {
    margin-bottom: 3rem;
}

footer {
    margin-top: 1.5rem;
}

#navigation {
   /* position: fixed;*/
}

#logo {
    float: left;
    margin-left: 14rem;
}

#main-content {
    float: right;
    margin-right: 17rem;
    margin-bottom: 3rem;
    max-width: 25rem;
}

#share {
    text-align: center;
    margin-bottom: 3rem;
}

#blue-block, #violet-block {
    width: 49%;
    min-height: 12rem;
}

.inline-block {
    display: inline-block;
}


.reverse {
    position: relative;
    top: 17rem;
}

.index {
      transform: rotate(90deg);
      left: 22rem;
}

.number {
      transform: rotate(270deg);
      right: 57rem;
    
}
.align-header {
    margin-top: 1.2rem;
}

.content-title {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.margin-link {
    margin-right: 1rem;
}

.author {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    padding: 0.8rem;
}

.bottom-big, .bottom-little {
    text-align: center;
    margin-top: 1rem;
}

.bottom-big {
    margin-top: 3rem;
}

.footer-left {
    float: left;
}

.mail, .linkedin {
    display: inline-block;
}

.footer-right {
    float: right;
}

