body {
     color: #303030;
}
header {
    font-size: 0.9rem;
}

li {
    border-bottom: 0.1rem solid grey;
}

#blue-block {
    background-color: #D4E7F0;
}

#violet-block {
    background-color: #E3DAEB;
}

.bold-link, #logo {
    font-weight: 700; 
}

.grey-link {
    color: #303030;
}

.number {
    font-size: 0.7rem;
}

.title {
    font-size: 3rem;
}

.book-award {
    font-size: 1rem;
}

.author {
    background-color: #EAEAE8;
}

.description {
   /* font-size: 0.8rem;*/
}

.italic {
    font-style: italic;
}

.bottom-big {
    font-size: 1.5rem;
}

.linkedin {
    margin-left: 2rem;
}

.mail, .linkedin, .footer-right{
    font-size: 0.9rem;
}
